.treading{
    background: rgba(54, 121, 143, 0.157);  
}

.card-hover:hover{
    color: red;
    transform:translateY(10px);
    transition: .5s ease-out;
    
}
.card-text{
    color: rgb(62, 95, 107);
}
.card-text:hover{
    color: rgb(36, 132, 167);

}